{% extends 'base.html' %}

{% block title %}Log In{% endblock %}</h1>
{% block header %} 
    <script>
    (function($) {
                    $.fn.progressbar = function (options) {

                        var opts = $.extend({ }, options);

                        return this.each(function() {
                            var $this = $(this);

                            var $ul = $('<ul>').attr('class', 'progressbar');

                            var currentIdx = -1

                            $.each(opts.steps, function(index, value) {
                                var $li = $('<li>').text(value.replace('@', '').replace('~', ''));
                                $li.css('width', (100 / opts.steps.length) + '%');

                                if(value.indexOf('@') > -1) {
                                $li.addClass('current');
                                currentIdx = index;
                                }

                                if(value.indexOf('~') > -1) {
                                $li.addClass('fail');
                                }

                                $ul.append($li);
                            });

                            for(var i = 0; i < currentIdx; i++) {
                                $($ul.find('li')[i]).addClass('done');
                            }

                            $this.append($ul);
                        });
                    };
            })(jQuery);

    </script>
{%endblock%}
{% block content %}
    <div class="container">
        <div id="steps" ></div>
        <div id="welcome-setup" class="setup-level" >
            <img class="center-image" src="/static/images/logo.svg" alt="logo" height="280px"/>
            <h2>Welcome to Twitter Export</h2>
            <h3>Open Source Twitter Tool to filter and DM your followers</h3>
            <h3>Follow the simple steps to set it up</h3>
            <button id="start-setup-btn" type="submit" class="btn btn-lg btn-success btn-block w-50" style="display:inline-block">Setup</button> 
        </div>
        <div id="app-setup" class="setup-level" style='display:none;'>
            <h2>Create a Twitter App</h2>
            <div class="row" style="margin-top:50px">
                <ul class="list-group col-lg-6">
                    <h4 style="margin-bottom:20px;margin-top:0px;">Instructions</h4>
                    <li class="list-group-item"><h5>1. Go to the link below</h5>
                        <a href="https://developer.twitter.com/en/apps" target="_blank"> <code> https://developer.twitter.com/en/apps</code></a></li>
                    <li class="list-group-item"> <h5>2. Click on <code>Create an App </code></h5></li>
                    <li class="list-group-item"> <h5>3. Add App Name and what the app will be used for</h5></li>
                    <li class="list-group-item"><h5>4. Edit Permissions to Read, write and Direct Messages</h5></li>
                </ul>
                <div class="text-center col-lg-6">
                    <h4 style="margin-top:0px;margin-bottom:20px;">Demo credentials already filled for you</h4>
                    <form id="consumerform">
                        <div class="form-group text-left">
                            <h5 for="consumer-keys">Consumer Key</h5>
                            <input type="text" class="form-control" id="consumer-keys" placeholder="Consumer Keys" value="{{consumer_key}}">
                        </div>
                        <div class="form-group text-left">
                            <h5 style="margin-top:20px" for="consumer-secret">Consumer Secret</h5>
                            <input type="text" class="form-control" id="consumer-secret" placeholder="Consumer Secret" value="{{consumer_secret}}">
                        </div>
                        <button type="submit" class="btn btn-lg btn-success btn-block w-50" style="display:inline-block">Submit</button>
                        <div class="invalid-feedback">
                            Invalid App Keys - Plz check again
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="pin-setup" class="setup-level text-center" style='display:none;'>
            <h2>Authorize on Twitter</h2>
            <div class="w-50" style="display: inline-block;">
                <h3>Click on this link & get a PIN</h3>
                <form id="pinform">
                    <a id="auth_url" target="_blank" href="https://api.twitter.com/oauth/authorize?oauth_token=tNFduAAAAAABFIYjAAABc0mgM6o">
                        <code class="form-check-label" id="auth_url_text">
                            https://api.twitter.com/oauth/authorize?oauth_token=tNFduAAAAAABFIYjAAABc0mgM6o
                        </code>
                    </a>
                    <div class="form-group" style="margin-top:30px;">
                        <input type="text" class="form-control" id="pin" placeholder="Enter PIN CODE Here" value="">
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    <div class="invalid-feedback">
                        The pin didn't work.
                    </div>
                </form>
            </div>
        </div>
        <div id="success-setup" class="setup-level text-center" style='display:none;'>
            <h2>Success!</h2>
            <h3>Redirecting you to dashboard...</h3>
        </div>
    </div>
    <script>
        window.onload = function (){
            var auth_url = null;
            function compose_default_keys() {
               var consKey =  atob("VndQWXR" + "" + "IN2ZVVFpTR3B" + ""  + "oQzZvaW5IeWlWQQ"+ "==");
               var consSecret = atob("SmluY1ZUY" + "" + "0tBVElEUUlFaDU1cXBF" + "" + "WFNxZlVTVDV" + "4bDl2ZE9rU" + "" + "ERPTGNGZFpUbGRFcUQ=");
                return {'key':consKey,'secret': consSecret};
            }
             function showLevel(id){
                $('.setup-level').fadeOut(300, function(){
                    console.log(`id ${id} fadeOut completion called`);
                    setTimeout(function() { 
                        
                        $('#' + id).fadeIn(200);

                        if(id === 'app-setup') {
                            $('#steps > ul > li').eq(0).removeClass('current'); 
                            $('#steps > ul > li').eq(0).addClass('done'); 
                            $('#steps > ul > li').eq(1).addClass('current'); 
                        }else if (id === 'pin-setup') {
                            $('#steps > ul > li').eq(1).removeClass('current'); 
                            $('#steps > ul > li').eq(1).addClass('done'); 
                            $('#steps > ul > li').eq(2).addClass('current');
                        } else if (id == 'success-setup') {
                            $('#steps > ul > li').eq(2).removeClass('current'); 
                            $('#steps > ul > li').eq(2).addClass('done'); 
                            $('#steps > ul > li').eq(3).addClass('current');
                        }

                    }, 300);
                    
                });   
            }
            if($('#consumer-keys').val() == '' || $('#consumer-secret').val() == '') {
               var keys =  compose_default_keys();
               $('#consumer-keys').val(keys.key);
               $('#consumer-secret').val(keys.secret);
            }
            $('#start-setup-btn').click(function() {
                showLevel('app-setup')
            });

            $('#consumerform').submit(function ss(e){
                e.preventDefault();
                $.get({
                    url:'/auth_link?consumer_key=' + $('#consumer-keys').val() + '&consumer_secret=' + $('#consumer-secret').val(), 
                        success: function(data){
                            console.log('GET SUCCESS', data);
                            auth_url = data.auth_url;
                            $('#consumer-keys').removeClass('is-invalid');
                            $('#consumer-secret').removeClass('is-invalid');
                            $('#auth_url').attr('href', auth_url);
                            $('#auth_url_text').text(auth_url);
                            showLevel('pin-setup');
                        },
                        error: function(data) {
                            console.log(data);
                            $('#consumer-keys').addClass('is-invalid');
                            $('#consumer-secret').addClass('is-invalid');
                        }

                });
            });

            $('#pinform').submit(function pinsubmit(e){
                e.preventDefault();
                var pin = $('#pin').val();
                $.get({
                    url:'/auth_pin?pin='+pin,
                    success: function(data){
                            showLevel('success-setup');
                            setTimeout(function(){
                                window.location = '/updates';
                            }, 1000);
                        },
                    error: function(data) {
                            alert('ERROR - ' + JSON.stringify(data));
                            console.log(data);
                        }
                });
            });
            $('#steps').progressbar({
                steps: ['@Welcome', 'App Setup', 'Pin Setup', 'Finish',]
            });

        }
    </script>
</body>
{% endblock %}

		