{% extends 'base.html' %}

{% block title %}Emails{% endblock %}</h1>
{% block content %}
    <div class="container">
        <div class="full-campaign" style="display: none;">
            <h3 style="margin-top:20px">EMAIL LIST</h3>
            <h4 style="margin-top:5px;margin-bottom:30px;">All the folks who subscribed to your link or any of your affiliate links</h4>
            <table id="spreadsheet" class="display" style="width: 100% !important; display: block; overflow: scroll;"></table>
        </div>
        <div class="empty-campaign text-center" style="padding-left:50px">
            <h4><strong>Oops!</strong></h4>
            <h4>Looks like no one is subscribed at the moment</h4>
            <a href="/search"> <button class="btn btn-success btn-lg" style="margin:30px"> Get Started </button> </a>
        </div>
    </div>
    <script>
        window.onload = function onload() {

            var dataTable = null;

            function getEmails(query, limit) {

                    $.get({
                        url:'/emails',
                        success: function(data){
                            console.log('data', data);
                            if (data.length > 0) {
                                var columns = Object.keys(data[0])
                                var columnsMap = columns.map(function(d){ return { 'data': d, 'title': d }; });
                                data = Object.keys(data).map(function(dk) {
                                    return data[dk];
                                });
                                if(dataTable === null) {
                                    dataTable = $('#spreadsheet').DataTable({
                                        "data": data,
                                        "dom": "<ip<t>>",
                                        "columns": columnsMap
                                    });
                                }
                                $('.empty-campaign').hide();
                                $('.full-campaign').show();
                            }
                        },
                        error: function(err) {
                            console.log(err);
                        }
                    });
            }


            getEmails();

        }
     </script>

{% endblock %}