{% extends 'base.html' %}

{% block title %}Log In{% endblock %}</h1>
{% block content %}
    <div class="container">
        <h2 style="margin:20px;"></h2>
        <div id="submitemail-group">
            <h3 for="submitemail-msg">Create a link for yourself!</h3>
            <form id="submitemail" style="width:300px;margin-top:30px;">
                <div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="created_by" placeholder="Who are you?" value="">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="link_id" placeholder="From Link" value="">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-info">Generate Link</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="successmsg" style="display:none">
            <h2> Thank you for your subsciption!!</h2>
            <p> You can use this affiliate link to get more subscribers on board. </p>
            <p id="aflink"></p>
        </div>
    </div>
    <script>
        window.onload = function() {

            $('#submitemail').submit(function formsubmit(e) {
                e.preventDefault();
                $.ajax({
                        type: "POST",
                        url: '/link',
                        contentType: 'application/json',
                        dataType: "json",
                        data: JSON.stringify({ 
                                'created_by': $('#created_by').val(),
                                'link_id': $('#link_id').val()
                            }),
                        success:function(data){
                            console.log(data);
                            $('#aflink').text(data.url);
                            $('#successmsg').show();
                            $("#submitemail-group").hide();
                        },
                        error:function(err) {
                            console.log(err);
                            alert(`There was an error in submitting ${err}`);
                        }
                    });
                
            });
        }
     </script>

{% endblock %}