<html>
<head>
    <script src="https://unpkg.com/jquery@3.3.1/dist/jquery.min.js" ></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-light bg-light" style="background-color: #bdf !important;">
        <a class="navbar-brand" href="#">Twitter Export</a>   
        <div class="nav-item active">
        <a class="nav-link" href="/">Home </a>
        </div>
        <div class="nav-item">
        <a class="nav-link" href="/updates">Dashboard </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/search">Followers <span class="sr-only">(current)</span></a>
        </div>
        <div class="nav-item">
            <a class="nav-link" href="/email">Emails </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" target="_blank" href="https://github.com/MohitKumar1991/twitter-export">Github</a>
        </div>
        <span class="navbar-text">
            A tool to DM your twitter followers
        </span>
    </nav>
    <div class="container">
        <h3 class="row" style="margin:20px">FILTER FOLLOWERS USING SQL</h3>
        <div class="row">
            <div class="col">
                <button id="ccButton" class="btn btn-danger" data-toggle="modal" data-target="#campaignModal">Send DM to these followers</button>
            </div>
            <div class="col">
                <button id="exButton" class="btn btn-warning" >Export Filtered Followers (CSV) </button>
            </div>
            <div class="col">
                <button id="exAllButton" class="btn btn-info" >Export All Followers (CSV)</button>
            </div>
        </div>
    <p>MAIN POINTS: 1. QUERY is anything after WHERE keyword 2. LIMIT is just a number (without the limit keyword)</p>
    <label for="searchInput">You can put your SQL Query here. It will be added to a WHERE clause. In the next one you can put LIMIT</label>
    <form id="searchInput">
        <div class="row">

            <div class="col">
                <input type="text" class="form-control" id="query" placeholder="QUERY" value="">
            </div>
            <div class="col">
                <input type="number" class="form-control" id="limit" placeholder="LIMIT 2000 Default" value="">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-info">Submit Search</button>
            </div>
        </div>
    </form>
    <div class="modal fade" id="campaignModal" tabindex="-1" role="dialog" aria-labelledby="campaignModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create Campaign</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form id="cModal">
                <div class="modal-body">
                    <p class="form-group">
                        <input type="text" class="form-control" id="cname" placeholder="Campaign Name" value="Send DM To Followers">
                        <textarea class="form-control" id="cmesg" placeholder="Campaign Message" rows="5"></textarea>
                    </p>
                    <label class="mr-sm-2">Your Subscription Link</label>
                    <p id="aflink"></p>
                </div>
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
          </div>
        </div>
      </div>
      <table id="spreadsheet" class="display" style="width: 100% !important; display: block; overflow: scroll;"></table>
    </div>
    
      <div class="modal" id="successModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Success!</h5>
              <button type="button" id="smclose" class="close" data-dismiss="modal" data-target="#successModal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p id="exmsg"></p>
            </div>
          </div>
        </div>
     </div>
      <table id="spreadsheet" class="display" style="width: 100% !important; display: block; overflow: scroll;"></table>
    </div>


    <script>
        window.onload = function onload() {

            window.currentFollowers = [];
            var dataTable = null;
            window.exporting = false;
            window.myAFlink = '';

            $('#ccButton').click(function() {
                $('#campaignModal').modal('show');
            });

            $('#exButton').click(function(){
                var query = $('#query').val();
                var limit = $('#limit').val();
                exportFollowers(query, limit);
            });
            $('#exAllButton').click(function(){
                var query = $('#query').val();
                var limit = $('#limit').val();
                exportFollowers('', '');
            });

            $("#smclose").click(function(){
                $('#successModal').hide();
            });

            $('#searchInput').submit(function(e) {
                e.preventDefault();
                var query = $('#query').val();
                var limit = $('#limit').val();
                getFollowers(query, limit);
            });

            $('#cModal').submit(function(e) {
                e.preventDefault();
                var cname = $('#cname').val();
                var cmesg = $('#cmesg').val();
                var follower_ids = window.currentFollowers.map(function(cf){
                    return cf.id_str;
                });
                $.ajax({
                        type: "POST",
                        url: '/campaigns',
                        contentType: 'application/json',
                        dataType: "json",
                        data: JSON.stringify({ 
                                'message_template': cmesg, 
                                'name': cname, 
                                'followers': follower_ids
                            }),
                        success:function(data){
                            alert('Campaign Created!!');
                            window.open('/updates', '_blank');
                        },
                        error:function(err) {
                            alert(`There was an error in creating ${err}`);
                        }
                    });
            });

            function getAfLink(){
                $.ajax({
                        type: "POST",
                        url: '/link',
                        contentType: 'application/json',
                        dataType: "json",
                        data: JSON.stringify({ 
                                'created_by': "{{username}}"
                        }),
                        success:function(data){
                            console.log('aflink data', data);
                            window.myAFlink = '/l/'+data.url;
                            $('#aflink').text(window.myAFlink);
                            $('#cmesg').text("Hi there! Would you like to be part of my personal email list? You can subscribe here \n "+ window.myAFlink)
                        },
                        error:function(err) {
                            alert(`Could not get your affiliate link`);
                        }
                    });
            }

            function getFollowers(query, limit) {

                    $.get({
                        url:'/followers', 
                        data: {
                            query:  query,
                            limit: limit
                        },
                        success: function(data){
                            console.log(data);
                            $('totalFollowers').text(data.total);
                            data = data.followers;
                            if(data.length == 0){
                                window.currentFollowers = data;
                                if(dataTable !== null) { dataTable.clear(); dataTable.draw(); }
                                return;
                            }
                            if(typeof data !== 'undefined'){
                                window.currentFollowers = data;
                            }
                            var columns = Object.keys(data[0])
                            var columnsMap = columns.map(function(d){ return { 'data': d, 'title': d }; });
                            data = Object.keys(data).map(function(dk) {
                                return data[dk];
                            });
                            console.log(data);
                            if(dataTable === null) {
                                dataTable = $('#spreadsheet').DataTable({
                                    "data": data,
                                    "columns": columnsMap,
                                    "columnDefs" : [{
                                            "targets" : columns.indexOf('profile_image_url') ,
                                            "render" : function ( url, type, full) {
                                                return '<img height="75%" width="75%" src="'+url+'"/>';
                                            }
                                    }]

                                });

                            } else {
                                dataTable.clear();
                                dataTable.rows.add(data).draw();
                            }

                        }
                    });
            }

            function exportFollowers(query, limit) {
                if(!window.exporting){
                    $.get({
                        url:'/export', 
                            data: {
                                query:  query,
                                limit: limit
                            },
                            success: function(data){
                                window.exporting = false;
                                var downloadLink = window.location.protocol + '//' + window.location.host + '/static/' + data.filename;
                                $('#exmsg').html(`<p>Exported to file <br> <a href="${downloadLink}" target="_blank"> ${downloadLink} </a></p>`);
                                $('#successModal').show();
                            },
                            error:function(error){
                                alert('Export Failed');
                                window.exporting = false;
                                console.log(error);
                            }
                        });
                    }
                }


            getFollowers('','');

            getAfLink();

        }
     </script>

</body>
</html>