{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}</h1>
{% block content %}
    <div class="container">
        <h3 style="margin:10px"> FOLLOWERS DB is <a  href="/search" target="_blank"> <span id="indexstatus" class="badge">{{index_status|default("CREATING",true)}}</span></a> | Total <span id="followerscount">{{fcount}}</span> followers for <strong>{{username}}</strong> currently.</h3> 
        <hr style="margin: 30px"/>
        <div class="campaigns">
            <div  id="cdetails" class="campaign-details modal">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="padding:10px">
                        <h5 class="modal-title" style="display:inline-block;">Campaign Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="padding:10px 30px;">
                        <div class="form-group row" style="font-weight:500; font-size:1rem;margin:0px;padding:0px;">
                            <div class="col-sm-6">
                                <input type="text" placeholder="Campaign Status" readonly class="form-control-plaintext text-capitalize" id="cname" value="">
                            </div>
                            <div class="col-sm-3">
                                <input type="text" placeholder="Campaign Status" readonly class="form-control-plaintext text-uppercase" id="cstatus" value="">
                            </div>
                            
                            <div class="col-sm-3">
                                <input type="text" placeholder="Sent Status" readonly class="form-control-plaintext text-right" id="cstats" value="">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer" style="font-size:1rem;padding:30px;">
                        <p class="form-control-plaintext" id="cmesg" ></p>
                    </div>
                </div>
                </div>
            </div>
            <div class="empty-campaign text-center" style="padding-left:50px">
                <h4>Campaigns let you DM your followers</h4>
                <h4>Just select followers and create message template</h4>
                <a href="/search"> <button class="btn btn-success btn-lg" style="margin:30px"> Get Started </button> </a>
            </div>
            <div class="full-campaign" style="display: none;">
                <h3 style="margin:20px;margin-left:0px;">CAMPAIGNS</h3>
                <table id="spreadsheet">

                </table>
            </div>
        </div>
        
    </div>
    <script>
        window.onload = function onload() {

            window.dataTable = null;
            window.currCampaign = null;
            function display_campaigns(data){

                var columns = Object.keys(data[0]);
                var columnsMap = columns.map(function(d){ return { 'data': d, 'title': d}; });
                data = Object.keys(data).map(function(dk) {
                        return data[dk];
                    });
                window.dataTable =  $('#spreadsheet').DataTable({
                            "data": data,
                            "dom": "<ip<t>>",
                            "searchable":false,
                            "columns": columnsMap
                        });
                
                $('#spreadsheet tbody').on('click', 'tr', function () {
                            var data = window.dataTable.row( this ).data();
                            getCampaign(data.id)
                        });
                        
            }

            function refreshCurrCampaign(){
                
                let cc = window.currCampaign;

                $("#cid").val(cc.id);
                $("#cname").val(cc.name);
                $("#cmesg").text(cc.message_template);
                $("#cstatus").val(cc.status);

                let sentCount = 0;
                let totalCount = cc.followers.length;
                for(let i=0;i<cc.followers.length;i++){
                    let f = cc.followers[i];
                    if(f.sent_time !== null && f.sent_time.length > 0){
                        sentCount++;
                    }
                }

                $("#cstats").val(`Sent ${sentCount} of ${totalCount}`);
                $("#cdetails").modal('show');
            }

            function getCampaigns(){

                $.ajax({
                    type: "GET",
                    url: '/campaigns',
                    dataType: "json",
                    success:function(data){
                        if(data instanceof Array && data.length>0){
                            $('.full-campaign').show();
                            $('.empty-campaign').hide();
                            display_campaigns(data);
                            getCampaign(data[0].id);
                        }
                    },
                    error:function(err) {
                        console.log(err);
                    }
                });

            }

            function getUpdates() {
                $.get({
                    url:'/status',
                    success: function(data) {
                        console.log(data);
                        $('#indexstatus').text(data.index_status?data.index_status: 'CREATING');
                        $('#followerscount').text(UTIL.numberWithCommas(data.total_followers));
                        if(data.index_status && data.index_status.toLowerCase() == 'ready') {
                            $('#indexstatus').addClass('badge-success');
                        } else {
                            $('#indexstatus').addClass('badge-warning');
                        }
                    },
                    error: function(err) {
                        console.log(err);
                    }
                })
            }
 
            setInterval(getUpdates, 25000);
            
            getCampaigns();
            getUpdates();

            function getCampaign(id, cb, errcb){
                
                $.ajax({
                    type: "GET",
                    url: '/campaigns?campaign_id='+id,
                    dataType: "json",
                    success:function(data){
                        window.currCampaign = data;
                        refreshCurrCampaign();
                    },
                    error:function(err) {
                        errcb(err);
                    }
                });

            }

            function deleteCampaign(id){

                    $.ajax({
                        type: "DELETE",
                        url: '/campaigns?campaign_id='+id,
                        dataType: "json",
                        success:function(data){
                            cb(data);
                        },
                        error:function(err) {
                            errcb(err);
                        }
                    });
            }
        }
     </script>
{% endblock %}