  
  ul.progressbar {
    height: 75px;
    padding: 0;
    counter-reset: step;
  }
  ul.progressbar li {
    list-style-type: none;
    color: rgb(165,165,165);
    float: left;
    position: relative;
    text-align: center;
    font-size: 12px;
  }
  ul.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    color: #333;
    width: 42px;
    height: 42px;
    line-height: 42px;
    border-radius: 50%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background: rgb(216,216,216);
  }
  ul.progressbar li:after {
    content: "";
    background: #ddd;
    position: absolute;
    width: 100%;
    height: 14px;
    top: 14px;
    right: -50%;
    z-index: -1;
  }
  ul.progressbar li:last-child:after {
    content: none;
  }
  ul.progressbar li.done:before, ul.progressbar li.done:after {
    background: rgb(21,219,158);
    color: #fff;
  
  }
  ul.progressbar li.current:before {
    background: rgb(104, 191, 250);
    color: #fff;
  }
  ul.progressbar li.fail:before {
    background: rgb(229, 48, 40)
}

body {
    background-color:rgba(182, 182, 182, 0.3);
}

.container {
    background-color: white;
    padding: 20px;
    margin-top:15px;
    border-radius: 8px;
    min-height: calc(100vh - 70px);
}
#mainnav {
    background-color:  rgba(32, 145, 251, 0.9) !important;
    color: white;
    height: 70px;
}

#mainnav .nav-link, #mainnav .navbar-brand, #mainnav .navbar-text {
 color: white;
 font-weight: 600;
}

.navbar-text {
  font-size: 1rem;
}

.setup-level {
    text-align: center;
}
.navbar-text {
    padding-left: 10px;
    padding-right:10px;
}
.center-image {
  margin: 20px;
}
.btn-lg {
  margin:30px;
}
#consumerform .row {
  margin-top: 15px;
  margin-bottom:15px;
}
#followerscount {
  font-weight: 600;
}

.jumbotron {
  background-color: #e8e8e8;;
}

@font-face {
  font-family: "icon";
  src: url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css") format("truetype");
}

.select2-container {
  margin: 0;
  height: 100%;
}
.select2-selection{
  height:100%;
}
